
h1{

    text-align: center;
    text-decoration: double;
    font-style: italic;
    font-family: arial;
    text-decoration: underline;
   
    
}

div{background-color: aquamarine;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition:all  ease;
    position: absolute;
    top: 150px;
left: 200px;
animation-name: coloranimate;
animation-duration: 1s;
animation-timing-function: ease; 

animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction:alternate-reverse;





}
@keyframes coloranimate { 0% { left: 50px;}

50%{

    background-color: green;
}
100%{ left:1200px;}
    
}

div:hover

{


    background-color: red;
    /* color: white; */
    /* font-size: 20px; */
    /* transform:scale(2); */
    
    /* rotate: (2); */
    

}

div:active{

    background-color: pink;
}